<configuration>
    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="info">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>

    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </logger>
</configuration>
