<configuration>
    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>10000</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} - [requestId=%mdc{requestId}] [userId=%mdc{userId}] - %replace(%msg){'[\r\n]+', ''}%replace(%ex){'[\r\n]+', ''}%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>

    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </logger>
</configuration>
